<!-- <p>{{ collegue | json }}</p>
<p>Formulaire valide = {{ etatFormulaire.valid }}</p>
<p>Formulaire dirty = {{ etatFormulaire.dirty }}</p>
<p>Formulaire pristine = {{ etatFormulaire.pristine }}</p> -->

<div class="container">
  <form #etatFormulaire="ngForm">
    <p>
      <label>Pseudo</label>
      <input
        #etatPseudo="ngModel"
        type="text"
        name="pseudo"
        [(ngModel)]="collegue.pseudo"
        required
      />
    </p>

    <p *ngIf="etatPseudo.invalid">Champ requis</p>
    <p>
      <label>Nom</label>
      <input
        #etatNom="ngModel"
        type="text"
        name="nom"
        [(ngModel)]="collegue.nom"
        required
        minlength="2"
      />
    </p>
    <p *ngIf="etatNom.invalid">
      Champ incorrect, merci de mettre au moins 2 caractères
    </p>
    <p>
      <label>Prénom</label>
      <input
        #etatPrenom="ngModel"
        type="text"
        name="prenom"
        [(ngModel)]="collegue.prenom"
        required
        minlength="2"
      />
    </p>
    <p *ngIf="etatPrenom.invalid">
      Champ incorrect, merci de mettre au moins 2 caractères
    </p>
    <p></p>
    <p>
      <label>Photo URL</label>
      <input
        #etatPhotoUrl="ngModel"
        type="text"
        name="photo"
        [(ngModel)]="collegue.photo"
        required
      />
    </p>
    <p *ngIf="etatPhotoUrl.invalid">Champ requis</p>
    <button
      *ngIf="etatFormulaire.dirty && etatFormulaire.valid"
      (click)="ajouter()"
    >
      Ajouter
    </button>
  </form>
</div>
